{% extends 'main/base.html' %}


{% block title %}
    order-history
{% endblock %}

{% block content %}

<br/>
<form  method="GET" action="" >
  <input type="search" name="search" placeholder="Search by item or seller"> 
  <button  type="submit"> Search </button>
</form>
<br>
<br>
<form  method="GET" action="" >
<label for="start">Start date:</label>

<input type="date" id="start" name="start"
       value="2018-07-22"
       min="2018-01-01" max="2030-4-10">

<label for="end">End date:</label>

<input type="date" id="end" name="end"
       value="2018-07-22"
       min="2018-01-01" max="2030-4-10">
       <button  type="submit"> Search by date </button>
</form>
<br>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">total amount</th>
            <th scope="col">number of items</th>
            <th scope="col">fulfillment status</th>
            <th scope="col">detail link</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object %}
        <tr>
            <th scope="row"> {{ item.ordered_date }} </th>
                <td>{{ item.get_total}}</td>
                <td>{{ item.get_numOfItem}}</td>
                <td>{{ item.fulfilled }}</td>
                <td>
                    <strong>
                        <a href="{{ item.get_absolute_url }}" > view detail
                          <!-- <span class="badge badge-pill {{ item.get_label_display }}-color">NEW</span> -->
                        </a>
                      </strong>
                </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}